<div class="row">
  <div class="col-6" style="text-align: center; border-style: solid">
    <h1>2do list</h1>
    <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
      <p>
        <label for="title"></label>
        <label for="title"> Title</label>
        <input type="text" name="title" id="title" formControlName="title" />
      </p>
      <p>
        <label for="description">Description</label>
        <textarea
          name="description"
          id="description"
          formControlName="description"
        ></textarea>
      </p>
      <p>
        <label for="date">Date Of expire </label>
        <input type="date"id="date"name="date" min={{this.minDate}} formControlName="expiry"/>
      </p>


      <p>
        <button class="btn-danger">Add Task</button>
      </p>
      <p>
        <button (click)="saveFile()" class="btn-success">save</button>
      </p>
    </form>
  </div>

  <div class="col-6">
    <div class="row" style="border-style: solid">
      <div class="col-6">
        <h3>Tasks Title</h3>
        <div *ngFor="let i of record; let ind = index">
          <button (click)="onClick($event, ind)" class="btn-success">
            {{ i.title }}
          </button>
          <p *ngIf="open[ind]">
            title:{{ i.title }} <br />
            description:{{ i.description }} <br />
            expiry:{{ i.expiry }} <br />
          </p>
        </div>
      </div>
      <div class="col-6">
        <h5>Status</h5>
        <div *ngFor="let i of record; let ind = index">
          <p *ngIf="compare(i.expiry) && status[ind] < 3">expired</p>

          <p *ngIf="status[ind] == 3">completed</p>
          <p *ngIf="status[ind] == 2">in progress</p>
          <p *ngIf="status[ind] == 1">yet to start</p>

          <button *ngIf="status[ind]<3 &&(!compare(i.expiry))"(click)="changestatus($event, ind)"class="btn-warning">
            change Status
          </button>
          <!--
            <button (click)="saveFile()" class="btn-success">save</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(function(){

});
</script>
