
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>
    <p>
      <label for="firstname">First Name </label>
      <input type="text" id="firstname" name="firstname" maxlength="50" formControlName="firstname">
    </p>
    <div
    *ngIf="!firstname.valid && (firstname.dirty ||firstname.touched)">
      <div *ngIf="firstname.errors.required">
        First Name is required
      </div>
     <div *ngIf="firstname.errors.pattern">
        Only characters are allowed
      </div>
      <div *ngIf="firstname.errors.maxlength">
        Maximum 50 characters are allowed
      </div>
  </div>
  <p>
    <label for="lastname">Last Name </label>
    <input type="text" id="lastname" name="lastname" formControlName="lastname">
  </p>

  <div *ngIf="!lastname.valid && (lastname.dirty ||lastname.touched)">
    <div *ngIf="lastname.errors.pattern">
      Only characters are allowed
    </div>
    <div *ngIf="lastname.errors.required">
      Last Name is required
    </div>
    <div *ngIf="lastname.errors.maxlength">
      Maximum 50 characters are allowed
    </div>
  </div>

  <p>
    <label for="email">Email </label>
    <input type="text" id="email" name="email" formControlName="email">
  </p>
  <div *ngIf="!email.valid && (email.dirty ||email.touched)">
    <div *ngIf="email.errors.required">
      email is required
    </div>
    <div *ngIf="email.errors.email">
      invalid email id
    </div>
  </div>

  <p>
    <label for="phn">Phone No </label>
    <input type="text" id="phn" name="phn" formControlName="phn">
  </p>
  <div *ngIf="!phn.valid && (phn.dirty ||phn.touched)">
    <div *ngIf="phn.errors.required">
      Phone no is required
    </div>
    <div *ngIf="phn.errors.pattern">
      Only 7,8,9 number are allowed
    </div>
    <div [disable]="phn.errors.maxlength || phn.errors.minlength">
      Only 10 digits are allowed
    </div>
  </div>

  <div formGroupName="address">

    <div class="form-group">
      <label for="city">City</label>
      <select id="city" name="city" formControlName="city">
        <option value="" disabled selected hidden>Choose Your City</option>
        <option [ngValue]="c.id" *ngFor="let c of cityList">
          {{c.name}}
        </option>
      </select>
    </div>
    <div *ngIf="!city.valid && (city.dirty ||city.touched)">
      <div *ngIf="!city.errors.required">
        city is required
      </div>
    </div>

    <br>
    <div class="form-group">
      <label for="street">Street</label>
      <input type="text" class="form-control" name="street" formControlName="street">
    </div>
    <div *ngIf="!street.valid && (street.dirty ||street.touched)">
      <div *ngIf="street.errors.required">
        street is required
      </div>
    </div>
    <br>
    <div class="form-group">
      <label for="pincode">Pin Code</label>
      <input type="text" class="form-control" name="pincode" formControlName="pincode">
    </div>
    <div *ngIf="!pincode.valid && (pincode.dirty ||pincode.touched)">
      <div *ngIf="pincode.errors.required">
        pincode is required
      </div>
      <div *ngIf="pincode.errors.maxlength">
        Only 7 digits are allowed
      </div>
    </div>

  </div>
  <p>
    <label for="birthday">Date Of Birth </label>
    <input type="date" id="birthday" name="birthday" min="2001-01-01" formControlName="birthday">
  </p>
  <div
  *ngIf="!birthday.valid && (birthday.dirty ||birthday.touched)">
    <div *ngIf="birthday.errors.required">
      Date of Birth is required
    </div>
</div>
  <p>
    <label for="website">Web Site </label>
    <input type="text" id="website" name="website" formControlName="website">
  </p>
  <div
  *ngIf="!website.valid && (website.dirty ||website.touched)">
    <div *ngIf="website.errors.required">
      Web site is required
    </div>
    <div *ngIf="website.errors.pattern">
     Invalid website format
    </div>
</div>

  <p>
    <button type="submit">Submit</button>
  </p>

  </form>
